admet_ai
torch==2.5.1
biopython
iedb
pandas
numpy
prodigy-prot
matplotlib
scikit-learn
seaborn
tqdm
fpdf
requests
rdkit
py3Dmol
pyfaidx
rcsb-api


# use conda to install openbabel only as it is not available in pip
# conda install -c conda-forge openbabel