admet_ai
torch==2.5.1
prodigy-prot
biopython
iedb
pandas
numpy
matplotlib
scikit-learn
seaborn
tqdm
fpdf
requests
rdkit
py3Dmol
openbabel


# yes we'll do same for the smiles as well. but erm sorry i was taking about @batch_protein_processor.py . and also about making that part the ones that will not be part of the ranking 0 i don't is the ideal way. cause when the result comes out it going to be like that paricular one is 0 is something. so let make it so that those ones don't show at all in the result